<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="form">
    <%= form.label :article %>
    <%= form.text_field :article %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, class: "form-control", rows: "5" %>
  </div>

  <div class = "row">
    <div class = "col"><div class="actions"> <%= form.submit %> </div></div>
    <div class="col" ><div id = "show-in-new"><%= link_to 'Back', article, role: "button", class: "btn btn-light btn-s"%></div></div>
  </div>
<% end %>
